@charset "utf-8";
/* CSS Document */

h1 {
font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'; 
color: black;	
}

body {
	background-color:rgb(247, 247, 231);
}

.velkommen {
	text-align: center;
	margin-top: 2ch;
	font-size: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login {
	text-align: center;
	align-items: center;
	margin: auto;
	border: 2px solid #000;
	margin-top: 15ch;
	width: 400px;
	height: 300px;
	background-color: white;
}

.registrering {
	text-align: center;
	align-items: center;
	margin: auto;
	border: 2px solid #000;
	margin-top: 15ch;
	width: 400px;
	height: 200px;
	background-color: white;
}

.velk-hr {
	max-width: 75%;
	margin-top: -20px;
	background-color:#000;
}

.regsidelink {
	font-size: 20px;
	text-align: center;
}

.logobilde {
	margin-left: 154ch;
	margin-bottom: -24ch;
	position: sticky;
}

.btn {
	position: absolute;
	margin-top: 3.7ch;
	margin-left: -41.35ch;
	width: 345px;
	height: 37px;
	font-size: 15px;
}

.reg-btn {
	position: absolute;
	margin-top: 6.5ch;
	margin-left: -20.71ch;
	width: 345px;
	height: 37px;
	font-size: 15px;
}

.g-recaptcha {
	position: absolute;
	margin-top: 13.3ch;
	margin-left: 6ch;
}

.logout {	
	margin-left: 1245px;
	margin-top: 8px;
	position: absolute;
	width: 130px;
	height: 50px;
	font-size: 17px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#idx2os {
	text-align: center;
	font-size: 50px;
	margin-top: 25px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
	position: absolute;
	margin-top: -73px;
	padding-left: 10px;
}

#logobilde2 {
	margin-left: 153ch;
	padding-bottom: 10px;
	position: absolute;
}

.sykkelinfo {
    margin-top: 100px;
    position: static;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Endret fra space-around */
    flex-wrap: wrap; /* Legg til wrap for å få 3 sykler per rad */
    max-width: 900px; /* Legg til en maks bredde for å begrense antall sykler per rad */
    margin: 0 auto; /* Sentrer containeren horisontalt */
}

.box {
    border: 1px solid black;
    width: calc(33.33% - 20px); /* Beregnet bredde for 3 sykler per rad med litt mellomrom */
	height:500px;
    text-align: center;
    margin: 5px;
	margin-bottom: 20px;
    box-sizing: border-box; /* Inkluder padding i beregningen */
	transition: transform 0.3s ease;
}

.box:hover {
	transform: scale(1.05);
}

.box img {
    width: 100%;
}

.box .info {
    padding: 10px;
}

.box .price {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#boxtextH2 {
	position:static;
    font-size: 20px;
    text-align: center;
	padding-top: 90px;
}

.boxbilde {
	padding-top:20px;
	padding-left:5px;
	position: static;
	width: 250px;
	transition: transform 0.3s ease;
}

.boxbilde:hover {
	transform: scale(1.15);
}

.boksinfotekst {
	padding-top: 5px;
	font-size: 17px;
}