@charset "utf-8";
/* CSS Document */

h1 {
font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'; 
color: black;	
}

body {
	background-color:rgb(247, 247, 231);
}

.velkommen {
	text-align: center;
	margin-top: 2ch;
	font-size: 30px;
}


.login {
	text-align: center;
	align-items: center;
	margin: auto;
	border: 2px solid #000;
	margin-top: 15ch;
	width: 400px;
	height: 300px;
	background-color: white;
}

.registrering {
	text-align: center;
	align-items: center;
	margin: auto;
	border: 2px solid #000;
	margin-top: 15ch;
	width: 400px;
	height: 200px;
	background-color: white;
}


.velk-hr {
	max-width: 75%;
	margin-top: -20px;
	background-color:#000;
}

.regsidelink {
	font-size: 20px;
	text-align: center;
}

.logobilde {
	margin-left: 155ch;
	margin-bottom: -36ch;
	position: sticky;
}

.btn {
	position: absolute;
	margin-top: 3.7ch;
	margin-left: -41.35ch;
	width: 345px;
	height: 37px;
	font-size: 15px;
}

.reg-btn {
	position: absolute;
	margin-top: 6.5ch;
	margin-left: -20.71ch;
	width: 345px;
	height: 37px;
	font-size: 15px;
}

.g-recaptcha {
	position: absolute;
	margin-top: 13.3ch;
	margin-left: 6ch;
}